In [1]:
import pandas as pd
import numpy as np

In [2]:
edges = pd.DataFrame({'source': [0, 1, 2], 'target': [2, 2, 3], 'weight': [3, 4, 5], 'color': ['red', 'blue', 'blue']})

In [3]:
edges

   source  target  weight color
0       0       2       3   red
1       1       2       4  blue
2       2       3       5  blue

In [4]:
edges.dtypes

source     int64
target     int64
weight     int64
color     object
dtype: object

In [5]:
edges['color']

0     red
1    blue
2    blue
Name: color, dtype: object

In [6]:
 pd.get_dummies(edges)

   source  target  weight  color_blue  color_red
0       0       2       3           0          1
1       1       2       4           1          0
2       2       3       5           1          0

In [7]:
 pd.get_dummies(edges["color"])

   blue  red
0     0    1
1     1    0
2     1    0

In [12]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', \
'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts',\
'Scouts', 'Scouts', 'Scouts'],
'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd',\
'1st', '1st', '2nd', '2nd'],
'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner',\
'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'],
'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'name', 'preTestScore', \
'postTestScore'])
df

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [13]:
raw_example =df.as_matrix()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [14]:
raw_example

array([['Nighthawks', '1st', 'Miller', 4, 25],
       ['Nighthawks', '1st', 'Jacobson', 24, 94],
       ['Nighthawks', '2nd', 'Ali', 31, 57],
       ['Nighthawks', '2nd', 'Milner', 2, 62],
       ['Dragoons', '1st', 'Cooze', 3, 70],
       ['Dragoons', '1st', 'Jacon', 4, 25],
       ['Dragoons', '2nd', 'Ryaner', 24, 94],
       ['Dragoons', '2nd', 'Sone', 31, 57],
       ['Scouts', '1st', 'Sloan', 2, 62],
       ['Scouts', '1st', 'Piger', 3, 70],
       ['Scouts', '2nd', 'Riani', 2, 62],
       ['Scouts', '2nd', 'Ali', 3, 70]], dtype=object)

In [15]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [16]:
data= raw_example.copy()

In [17]:
raw_example[:,0]

array(['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons',
       'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts',
       'Scouts'], dtype=object)

In [18]:
le.fit(raw_example[:,0])

LabelEncoder()

In [19]:
le.classes_

array(['Dragoons', 'Nighthawks', 'Scouts'], dtype=object)

In [22]:
y=le.transform(raw_example[:,0])

In [23]:
le.inverse_transform(y)

array(['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons',
       'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts',
       'Scouts'], dtype=object)

In [26]:
label_column = [0,1,2,4]
label_enconder_list = []
for column_index in label_column:
    le = preprocessing.LabelEncoder()
    le.fit(raw_example[:,column_index])
    data[:,column_index] = le.transform(raw_example[:,column_index])
    label_enconder_list.append(le)
del le